<!DOCTYPE html>
<html>
  <head>
    <title>NintyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
